@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
* {
  font-family: "DM Sans", serif;
}

body {
  color: hsl(0, 0%, 100%);
  background: hsl(243, 96%, 9%);
  
}
h1 {
  font-family: "Bricolage Grotesque", serif;
}
input::placeholder {
  font-family: "DM Sans", serif;
}
